global
       daemon
       maxconn 10000
defaults
       timeout connect 500s
       timeout client 5000s
       timeout server 1h

frontend sshd
       bind {{ keepalived_shared_ip }}:23
       default_backend ssh
       timeout client 1h

backend ssh
       mode tcp
  {% for backend in groups['test'] %}
       server {{ hostvars[backend]['ansible_hostname'] }} {{ hostvars[backend]['ansible_ssh_host'] }}:22 check
  {% endfor %}
